
@{
    ViewBag.Title = "Mis Carpetas";
}


@section Body
{
    <ol class="breadcrumb shadow p-3 mb-5 bg-dark">
        <li class="breadcrumb-item active text-white">Mis Carpetas</li>
    </ol>

    <div class="btn-group mb-4">
        <a class="btn btn-outline-success" href="@Url.Content("~/Carpetas/Crear")">Crear nueva carpeta</a>
        <a data-toggle="modal" href="#myModal" data-target="#modificar" class="btn btn-outline-warning">Modificar carpeta</a>
        <a data-toggle="modal" href="#myModal" data-target="#eliminar" class="btn btn-outline-danger">Eliminar carpeta</a>
    </div>

    <table class="table table-hover">
        <thead class="thead-inverse">
            <tr>
                <th>✓</th>
                <th>#</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Fecha de creación</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input class="form-check-label" type="checkbox" /></td>
                <th scope="row">1</th>
                <td>Facturas</td>
                <td>Total abonado de facturas</td>
                <td>2018-01-11</td>

            </tr>
            <tr>
                <td><input class="form-check-label" type="checkbox" /></td>
                <th scope="row">2</th>
                <td>Gastos</td>
                <td>-</td>
                <td>2018-01-11</td>
            </tr>
            <tr>
                <td><input class="form-check-label" type="checkbox" /></td>
                <th scope="row">3</th>
                <td>Vacaciones 2019</td>
                <td>Tarifas aproximadas de los hoteles</td>
                <td>2018-01-11</td>
            </tr>
        </tbody>
    </table>

    <div id="modificar" class="modal fade in" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <a class="btn pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></a>
                    <h3 class="modal-title text-center">Modificar la Carpeta:</h3>
                </div>
                <div class="modal-body">
                    <form action="" id="formCarpeta">
                        <div class="form-group">
                            <input type="text" class="form-control input-lg" placeholder="Nombre Carpeta" />
                        </div>
                    </form>
                        <textarea name="descripcion" class="form-control" rows="3"  form="formCarpeta">Ingrese Descripcion...</textarea>
                </div>
                <div class="modal-footer">
                    <div class="form-group text-center">
                        <!--   <button class="btn btn-danger" data-dismiss="modal" type="submit" data-toggle="page-alert" data-delay="9000" data-toggle-id="1"><span class="glyphicon glyphicon-ok"></span> Eliminar</button> -->
                        <button class="btn btn-warning" type="submit" value="modificar"><span class="glyphicon glyphicon-trash"></span> Modificar</button>
                    </div>
                </div>

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dalog -->
    </div>

    <div id="eliminar" class="modal fade in" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <a class="btn pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></a>
                    <h3 class="modal-title text-center">Eliminacion de Carpeta</h3>
                </div>
                <div class="modal-body">
                    <h4>¿Seguro desea Eliminar la Carpeta? Todo el contenido se perdera.</h4>
                </div>
                <div class="modal-footer">
                    <div class="form-group text-center">
                        <!--   <button class="btn btn-danger" data-dismiss="modal" type="submit" data-toggle="page-alert" data-delay="9000" data-toggle-id="1"><span class="glyphicon glyphicon-ok"></span> Eliminar</button> -->

                        <button class="btn btn-danger" type="submit" value="borrar"><span class="glyphicon glyphicon-trash"></span> Eliminar</button>
                    </div>
                </div>

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dalog -->
    </div>


}
