
@{
    ViewBag.Title = "Mis Carpetas";
}


@section Body
{
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">Mis Carpetas</li>
    </ol>

    <table class="table table-hover">
        <thead class="thead-inverse">
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Fecha de creación</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Facturas</td>
                <td>Total abonado de facturas</td>
                <td>2018-01-11</td>

            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Gastos</td>
                <td>-</td>
                <td>2018-01-11</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Vacaciones 2019</td>
                <td>Tarifas aproximadas de los hoteles</td>
                <td>2018-01-11</td>
            </tr>
        </tbody>
    </table>


}
