@using AppPW3.Controllers
@using AppPW3.Entidades
@using AppPW3.Servicios
@model List<Carpeta>

@{
    ViewBag.Title = "Crear";
}


<!-- comienzo el renderSection que expecifique en el _LayoutSidebar - Hay que ponerlo en todas las Views que agreguemos-->
@section Body
{

    <div class="col-md-10 offset-1 ">

        <ol class="breadcrumb shadow p-3 mb-5 bg-dark">
            <li class="breadcrumb-item text-muted">Mis Tareas</li>
            <li class="breadcrumb-item active text-white">Crear nueva</li>
        </ol>


        <div class="card">
            <div class="card-header bg-success mb-3 text-white">
                Complete los siguientes campos para crear una nueva tarea:
            </div>

            <form action="/Tareas/Crear" method="post">

                <div class="form-row">
                    <div class="col-md-4 mb-3">
                        <label class="col-sm-6 col-form-label ">Nombre</label>
                        <div class="col-sm-11">
                            <input type="text" class="form-control" placeholder="Este campo es obligatorio." name="Nombre" required />
                        </div>
                    </div>

                    <div class="col-md-4 mb-3">
                        <label class="col-sm-6 col-form-label">Descripción</label>
                        <div class="col-sm-11">
                            <input type="text" class="form-control" placeholder="Este campo es opcional." name="Descripcion" />
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-md-4 mb-3">
                        <label class="col-sm-6 col-form-label">Horas estimadas</label>
                        <div class="col-sm-11">
                            <input type="text" class="form-control" placeholder="Este campo es opcional." name="EstimadoHoras" />
                        </div>
                    </div>

                    <div class="col-md-4 mb-3">
                        <label class="col-sm-6 col-form-label">Fecha límite</label>
                        <div class="col-sm-11">
                            <input type="text" class="form-control" placeholder="Este campo es opcional." name="FechaFin" />
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-md-4 mb-3">
                        <label class="col-sm-3 col-form-label">Prioridad</label>
                        <div class="col-sm-11">
                            <select class="custom-select" name="Prioridad">
                                <option selected value="4" class="text-info">Baja</option>
                                <option value="3" class="text-warning">Media</option>
                                <option value="2" class="text-danger">Alta</option>
                                <option value="1" class="text-danger font-weight-bold">Urgente</option>
                            </select>
                        </div>
                    </div>

                    @*hacer un foreach para mostrar todas las carpetas*@
                    <div class="col-md-4 mb-3">
                        <label class="col-sm-3 col-form-label">Carpeta</label>
                        <div class="col-sm-11">
                            <select class="custom-select" name="IdCarpeta">
                             @foreach (var carpeta in Model)
                                {
                                    if(carpeta.IdCarpeta==1)
                                    {
                                    <option value="@carpeta.IdCarpeta" selected="selected">@carpeta.Nombre</option>
                                    }
                                    else {
                                    <option value="@carpeta.IdCarpeta">@carpeta.Nombre</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mt-4 mb-5">
                    <button type="submit" class="btn btn-outline-success">Carpeta Nueva Tarea</button>
                    @*<button type="reset" class="btn btn-outline-info">Restablecer</button>*@
                </div>

            </form>
        </div>
    </div>
}