
@{
    ViewBag.Title = "Crear";
}


<!-- comienzo el renderSection que expecifique en el _LayoutSidebar - Hay que ponerlo en todas las Views que agreguemos-->
@section Body
{
    <h2>Crear Tareas</h2>

}


