
@{
    ViewBag.Title = "IndexLogout";
    Layout = "~/Views/Shared/_LayoutAppAlternativo.cshtml";
}

@*INDEX ALTERNATIVO PARA LOS USUARIOS QUE NO ESTEN LOGUEADOS*@

@section Body{

<div id="page-content-wrapper" class="container-fluid">

    <div class="container-fluid">
        <div class="row">

            <div class="col-md-6">
                <div class="jumbotron">
                    <h1 class="display-4 text-center">¡Bienvenido!</h1>
                    <hr class="my-4">
                    <h5 class="text-center">Creá y organizá todas tus tareas e ideas en un solo lugar.</h5>
                </div>
            </div>

            <div class="col-md-3">
                <form method="post" action="/Home/Login">
                    <div class="card border-success mb-3" style="max-width: 18rem;">
                        <div class="card-header bg-transparent">Si ya eres un usuario:</div>
                        <div class="card-body text-success">
                            <h5 class="card-title">Completa los campos</h5>
                            <div class="form-group">
                                <input type="text" class="form-control input-lg" placeholder="Ingrese su usuario" name="Email" />
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control input-lg" placeholder="Ingrese su contraseña" name="Contrasenia" />
                            </div>
                            <div class="text-danger">@ViewBag.ErrorLogin</div>
                            <div class="form-chec text-center">
                                <input type="checkbox" class="form-check-input" id="dropdownCheck2" name="Recordar" value="true">
                                <label class="form-check-label" for="dropdownCheck2">
                                    Recordar mis datos.
                                </label>
                            </div>
                        </div>
                        <div class="card-footer bg-transparent ">
                            <input type="submit" class="btn btn-block btn-lg btn-success" value="INICIAR SESIÓN" />
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-md-3">
                <div class="card border-info mb-3" style="max-width: 18rem;">
                    <div class="card-header bg-transparent">Si todavía no eres usuario:</div>
                    <div class="card-body text-info">
                        <h5 class="card-title">Debes registrarte</h5>
                        <p class="card-text text-center">
                            Te invitamos a que formes parte.
                            Es rápido, simple y sencillo.
                            Preciona el botón a continuación y sigue los pasos.
                        </p>

                        <p class="card-text text-center">
                            ¡Es gratis!
                        </p>
                    </div>
                    <div class="card-footer bg-transparent">
                        <a class="btn btn-block btn-primary btn-lg" href="@Url.Content("~/Home/Registracion")" role="button">REGISTRARSE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}
