
@{
    ViewBag.Title = "IndexLogout";
    Layout = "~/Views/Shared/_LayoutAppAlternativo.cshtml";
}

@*INDEX ALTERNATIVO PARA LOS USUARIOS QUE NO ESTEN LOGUEADOS*@

@section Body{

    <div id="page-content-wrapper" class="container-fluid">

        @*<ol class="breadcrumb shadow p-3 mb-5 bg-dark">
            <li class="breadcrumb-item active text-white">Home</li>
        </ol>*@

        <div class="jumbotron">
            <h1 class="display-4">¡Bienvenido!</h1>
            <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <a class="btn btn-primary btn-lg" href="@Url.Content("~/Home/Login")" role="button">Iniciá Sesión</a>
            <a class="btn btn-primary btn-lg" href="@Url.Content("~/Home/Registracion")" role="button">Registrate</a>
        </div>
    </div>
}