@model AppPW3.Entidades.Usuario
@using AppPW3.Entidades

@{
    ViewBag.Title = "Login";
}

@section Body
{

    <div class="jumbotron">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="text-center">Bienvenido</h1>
                </div>
                <div class="modal-body">

                    <form method="post" action="/Home/Login">
                        <div class="form-group">
                            <input type="text" class="form-control input-lg" placeholder="Usuario" name="Email" />
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control input-lg" placeholder="Contraseña" name="Contrasenia" />
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-block btn-lg btn-success" value="Iniciar Sesion" />
                            <span class="pull-right"><a href="@Url.Content("~/Home/Registracion")">Registrarse</a></span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
}

