@model AppPW3.Entidades.Usuario
@using CaptchaMvc.HtmlHelpers

@{
    ViewBag.Title = "Registracion";
}

@section Body
{
<div class="row">
    <div class="col-md-10 offset-1">


        <div class="card">
            <p class="card-header bg-primary text-white">Complete campos para registrarse</p>

            <div class="card-body">
                <!-- comienza form-->
                <form action="/Home/Registracion" method="post">
                    <div class="form-row">
                        <div class="col-md-5">
                            <label class="col-form-label">Nombre</label>
                            <input type="text" name="Nombre" class="form-control" placeholder="Complete" required />
                        </div>

                        <div class="col-md-5">
                            <label class="col-form-label">Apellido</label>
                            <input type="text" apellido name="Apellido" class="form-control" placeholder="Complete" required />
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-10">
                            <label class="col-form-label">Email</label>
                            <input type="email" name="Email" class="form-control" placeholder="Complete" required />
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-5">
                            <label class="col-form-label">Contraseña</label>
                            <input type="password" name="Contrasenia" class="form-control" placeholder="Complete" required />
                        </div>

                        <div class="col-md-5">
                            <label class="col-form-label">Reingrese contraseña</label>
                            <input type="password" class="form-control" placeholder="Complete" required />
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-10">
                            @Html.Captcha(5)<!--5 caracteres para validar-->
                            <br /> <p> @ViewBag.ErrorCaptcha </p><!--mensaje de error por ingreso incorrecto-->
                        </div>
                    </div>

                    <div class="col-md-4 mt-4 mb-5">
                        <button class="btn btn-primary" type="submit">Registrarse</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
}
